<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904060342426-k7d5b1k0ap1us26gff40o74lnha8ua2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904060342426-k7d5b1k0ap1us26gff40o74lnha8ua2n</string>
	<key>API_KEY</key>
	<string>AIzaSyDzR-s6oCmJhVtAf3TZBR-Wo1sZSLRhowo</string>
	<key>GCM_SENDER_ID</key>
	<string>904060342426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brillo.dicksondurosakin</string>
	<key>PROJECT_ID</key>
	<string>brilloconnectz-f7921</string>
	<key>STORAGE_BUCKET</key>
	<string>brilloconnectz-f7921.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904060342426:ios:d1d574b2b5ab129d178f23</string>
</dict>
</plist>